body {
    background-image: url("https://i1.wp.com/static.web-backgrounds.net/uploads/2012/08/City_Landscape_Background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px 800px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h3.heading {
    padding-left: 170px;
    font-size: 20px;
}

p.description {
    padding-left: 140px;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

input,
[type="text"] {
    border: 2px solid rgb(241, 240, 240);
    border-radius: 2px;
    height: 35px;
}

select {
    border-radius: 4px;
    background: white;
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

input[type="submit"] {
    background-color: rgb(4, 85, 61);
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 33%;
    border: 1px solid #ccc;
}

.col-25 {
    float: left;
    width: 12%;
}

.col-75 {
    margin-left: 150px;
}

::placeholder {
    color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}